body{
    background: black;
    font-family: cursive;
}
.css{
    font-weight: 800;
    font-size: 100px;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, blue 0,white 10%, black 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
    -webkit-text-size-adjust:none;
}

@keyframes shine{
0%{
    background-position: 0;
}
100%{
    background-position: 500px;
}
}